[project]
	description = Assignments for the Google HashCode 2017
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lyashenkogs (LyashenkoGS)
[access "refs/for/refs/*"]
	read = group user/lyashenkogs (LyashenkoGS)
	push = group user/lyashenkogs (LyashenkoGS)
	label-Code-Review = -2..+2 group user/lyashenkogs (LyashenkoGS)
	label-Verified = -1..+1 group user/lyashenkogs (LyashenkoGS)
	rebase = group user/lyashenkogs (LyashenkoGS)
	removeReviewer = group user/lyashenkogs (LyashenkoGS)
	submit = group user/lyashenkogs (LyashenkoGS)
[access "refs/heads/*"]
	read = group user/lyashenkogs (LyashenkoGS)
	create = group user/lyashenkogs (LyashenkoGS)
	push = +force group user/lyashenkogs (LyashenkoGS)
	pushMerge = group user/lyashenkogs (LyashenkoGS)
[access "refs/tags/*"]
	push = group user/lyashenkogs (LyashenkoGS)
	push = +force group user/lyashenkogs (LyashenkoGS)
